
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  /* font-family: 'Roboto', sans-serif; */
  background-image: url('');
  background-repeat: repeat-y;
  background-size: 100%;
}
body,
html {
  width: 100%;
  min-height: 100vh;
  background-color: #F4F7FD;
  /* font-family: "Cairo", sans-serif; */
}
a {
  text-decoration: none;
}

a:hover {
  color: inherit;
  cursor: pointer;
}
button {
  outline: 0;
  border: 0;
  box-shadow: unset !important;
  background-color: transparent;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,900,700,500,300,100);
*{
  margin: 0;
  box-sizing: border-box;

}
.logo{
  width: 350px;
  height: 318px;
  padding-bottom: 30px;
  margin-top: 30px;
  padding-right: 50px;
}
.login-h5{
  font-family: Cairo;
font-size: 35px;
font-weight: 900;
line-height: 74.96px;
text-align: left;
margin-top: 30px;
 padding-left: 100px;
color: #1E1E1E;
}
.login-p{
  font-family: Cairo;
  font-size: 40px;
  font-weight: 900;
  line-height: 74.96px;
  text-align: left;
  color:#032F70 ;
}
.login-h2{
  font-family: Cairo;
font-size: 85px;
font-weight: 900;
line-height: 160px;
text-align: left;
padding-left: 100px;
color: #089D49;
}
.login-input{
  width:518px;
height: 65px;
top: 51px;
margin-bottom: 15px;
border: 1px 0px 0px 0px;
}
.login-label{
  font-family: Almarai;
font-size: 25px;
padding-bottom: 15px;
font-weight: 700;
line-height: 26.78px;
text-align: right;
padding-right: 5px;
}
.btn1{
  width: 200px;
  height: 55px;
  padding: 16px 36px 16px 36px;
  background-color: #032F70;
  color: #F8F8F8;
  font-size: 20px;
  line-height: 26px;
  padding: 13px 27px 13px 30px;
  margin-top: 30px;
}
.btn2{
  width: 200px;
  height: 55px;
  padding: 16px 36px 16px 36px;
  background-color: transparent;
 color: #DF0000;
  border: 1px solid #DF0000;
  font-size: 20px;
  line-height: 26px;
  padding: 13px 27px 13px 30px;
  margin-top: 30px;
}
.background {
  width: 600px;
  height: 425px;
  padding-right: 55px;
}
@media (max-width: 992px){
  

  }
 

@media (max-width: 578px){


}